services:
  app:
    image: "{{ deploy_image_reference }}"
    container_name: "almonium_{{ deploy_environment }}_{{ deploy_slot }}"
    environment:
      LOCAL_PORT: "{{ almonium.shared.local_port }}"
      DEBUG_PORT: "{{ almonium.shared.debug_port }}"
      CONTEXT_PATH: "{{ almonium.shared.context_path }}"

      SPRING_PROFILE: "{{ app_cfg.spring_profile }}"

      DB_NAME: "{{ app_cfg.db.name }}"
      DB_HOST: "{{ platform.db.host }}"
      DB_PORT: "{{ platform.db.port }}"
      DB_SCHEMA: "{{ app_cfg.db.schema }}"
      DB_USERNAME: "{{ app_cfg.db.username }}"
      DB_PASSWORD: "{{ almonium_env.db.password }}"

      RABBITMQ_HOST: "{{ platform.rabbitmq.host }}"
      RABBITMQ_PORT: "{{ platform.rabbitmq.port }}"
      RABBITMQ_USER: "{{ app_cfg.rabbitmq.username }}"
      RABBITMQ_PASS: "{{ almonium_env.rabbitmq.password }}"
      RABBITMQ_VHOST: "{{ app_cfg.rabbitmq.vhost }}"

      STREAM_KEY: "{{ almonium_env.stream.key }}"
      STREAM_SECRET: "{{ almonium_env.stream.secret }}"

      STRIPE_KEY: "{{ almonium_env.stripe.key }}"
      STRIPE_WEBHOOK_SECRET: "{{ almonium_env.stripe.webhook_secret }}"

      RAPID_API_KEY: "{{ almonium_shared.rapid_api_key }}"
      WORDNIK_KEY: "{{ almonium_shared.wordnik_key }}"
      YANDEX_KEY: "{{ almonium_shared.yandex_key }}"
      ZEPTO_API_KEY: "{{ almonium_shared.zepto_api_key }}"

      GOOGLE_PROJECT_ID: "{{ almonium.shared.google_project_id }}"
      GOOGLE_SERVICE_ACCOUNT_KEY_BASE64: "{{ almonium_shared.google_service_account_key_base64 }}"
      FIREBASE_STORAGE_BUCKET: "{{ almonium.shared.firebase_storage_bucket }}"

    ports:
      - "127.0.0.1:{{ local_healthcheck_port }}:{{ app_internal_port }}"

    networks:
      - proxy-net
      - broker-net
      - db-net

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:{{ app_internal_port }}{{ almonium.shared.context_path }}/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 3

    restart: unless-stopped

networks:
  proxy-net:
    external: true
  broker-net:
    external: true
  db-net:
    external: true
