B2_ACCOUNT_ID={{ db_backup_config.b2.application_key_id | to_json }}
B2_ACCOUNT_KEY={{ db_backup_config.b2.application_key | to_json }}
RESTIC_REPOSITORY={{ ('b2:' ~ db_backup_config.b2.bucket ~ ':' ~ db_backup_config.b2.prefix) | to_json }}
RESTIC_PASSWORD={{ db_backup_config.restic_password | to_json }}
