# ansible/roles/deploy_app_slot/templates/app-compose.yaml.j2
services:
  app:
    image: 'ghcr.io/almonium-platform/almonium-be:{{ deploy_image_tag }}'
    container_name: app_{{ deploy_environment }}_{{ deploy_slot }}
    environment:
      DEPLOY_IMAGE_TAG: "{{ deploy_image_tag }}"
      DEPLOY_SLOT: "{{ deploy_slot }}"
      DEPLOY_ENVIRONMENT: "{{ deploy_environment }}"
      APP_INTERNAL_PORT: "{{ app_internal_port }}"
      SERVER_PORT: "{{ app_internal_port }}"
      API_HOSTNAME: "{{ api_hostname }}"
      LOCAL_PORT: "{{ local_port }}"
      DEBUG_PORT: "{{ debug_port }}"
      SPRING_PROFILE: "{{ spring_profile }}"
      JWT_SECRET: "{{ jwt_secret }}"
      DB_NAME: "{{ db_name }}"
      DB_HOST: "{{ db_host }}"
      DB_PORT: "{{ db_port }}"
      DB_SCHEMA: "{{ db_schema }}"
      DB_USERNAME: "{{ db_username }}"
      DB_PASSWORD: "{{ db_password }}"
      RAPID_API_KEY: "{{ rapid_api_key }}"
      WORDNIK_KEY: "{{ wordnik_key }}"
      YANDEX_KEY: "{{ yandex_key }}"
      OPENAI_KEY: "{{ openai_key }}"
      GEMINI_API_KEY: "{{ gemini_api_key }}"
      STRIPE_KEY: "{{ stripe_key }}"
      STRIPE_WEBHOOK_SECRET: "{{ stripe_webhook_secret }}"
      STREAM_KEY: "{{ stream_key }}"
      STREAM_SECRET: "{{ stream_secret }}"
      GOOGLE_PROJECT_ID: "{{ google_project_id }}"
      GOOGLE_SERVICE_ACCOUNT_KEY_BASE64: "{{ google_service_account_key_base64 }}"
      FIREBASE_STORAGE_BUCKET: "{{ firebase_storage_bucket }}"
      GOOGLE_ID: "{{ google_id }}"
      GOOGLE_SECRET: "{{ google_secret }}"
      FACEBOOK_ID: "{{ facebook_id }}"
      FACEBOOK_SECRET: "{{ facebook_secret }}"
      APPLE_ID: "{{ apple_id }}"
      APPLE_SECRET: "{{ apple_secret }}"
      RABBITMQ_HOST: "{{ rabbitmq_host }}"
      RABBITMQ_PORT: "{{ rabbitmq_port }}"
      RABBITMQ_USER: "{{ rabbitmq_user }}"
      RABBITMQ_PASS: "{{ rabbitmq_pass }}"
      MAIL_USERNAME: "{{ mail_username }}"
      MAIL_PASSWORD: "{{ mail_password }}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy-net"
      - "traefik.http.services.app-svc-{{ deploy_environment }}-{{ deploy_slot }}.loadbalancer.server.port={{ app_internal_port }}"
      - "traefik.http.routers.app-router-{{ deploy_environment }}-{{ deploy_slot }}.rule=Host(`{{ api_hostname }}`)"
      - "traefik.http.routers.app-router-{{ deploy_environment }}-{{ deploy_slot }}.entrypoints=websecure"
      - "traefik.http.routers.app-router-{{ deploy_environment }}-{{ deploy_slot }}.tls=true"
      - "traefik.http.routers.app-router-{{ deploy_environment }}-{{ deploy_slot }}.tls.certresolver=porkbun"
      - "traefik.http.routers.app-router-{{ deploy_environment }}-{{ deploy_slot }}.service=app-svc-{{ deploy_environment }}-{{ deploy_slot }}"
      - "traefik.http.routers.app-router-{{ deploy_environment }}-{{ deploy_slot }}.priority=100"
    ports:
      - "{{ local_healthcheck_port }}:{{ APP_INTERNAL_PORT }}"
    networks:
      - proxy-net
      - broker-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:{{ APP_INTERNAL_PORT }}/api/v1/actuator/health" ]
      interval: 10s
      timeout: 3s
      retries: 3
    restart: unless-stopped

networks:
  proxy-net:
    external: true
  broker-net:
    external: true
